<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Google+ JavaScript Quickstart</title>
</head>
<body>


  <div>
    <h3>Forecast weather</h3>

    <p>Probability of rain <%= @forecast['currently']['precipProbability']%>%</p>
    
    <p>Actual forecast: <%= @forecast['minutely']['summary']%></p>
    
    <img src=<%= "images/#{@forecast['minutely']['icon']}.jpeg"%> alt="forecast image" > 

  </div>

  <div>
    
    <h3>Calendar</h3>
    
    <% @events.each do | item | %>


    <% if formating_time(item.start.dateTime) === formating_time(Time.new) %>
      
     <p>Event date:        <%= formating_time(item.start.dateTime) %> </p>
     <p>Event summary:     <%= item.summary %>        </p>
     <p>Event description: <%= item.description %>    </p>
     
     <p>Event location:    <%= item.location %>       </p>

     <%end%>


    <%end%>
  </div>

  <h3>Tube Status</h3>

  <ul>
    <% @tfl_lines.zip(@tfl_status).each do |line,status|  %>
      
      <li> <%=line%>   </li>
      <li> <%=status%> </li>
    <%end%>
  </ul>
  

  
<!--   <div id="gConnect">
    <button class="g-signin"
        data-scope="https://www.googleapis.com/auth/plus.login"
        data-requestvisibleactions="http://schemas.google.com/AddActivity"
        data-clientId="825373276554-grlp225vpg7o4e89ll9qfeugnsqkq78k.apps.googleusercontent.com"
        data-callback="onSignInCallback"
        data-theme="dark"
        data-cookiepolicy="single_host_origin">
    </button>
  </div> -->
    

<!-- 

  <div id="authOps" style="display:none">
    <h2>User is now signed in to the app using Google+</h2>
    <p>If the user chooses to disconnect, the app must delete all stored
    information retrieved from Google for the given user.</p>
    <button id="disconnect" data-disconnect="disconnect">Disconnect your Google account from this app</button>

    <h2>User's profile information</h2>
    <div id="profile"></div>

    <h2>User's friends that are visible to this app</h2> 
    <div id="visiblePeople"></div>

    <h2>Authentication Logs</h2>
    <pre id="authResult"></pre>
  </div> -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>  
  <script src="https://plus.google.com/js/client:plusone.js"></script>
  <script src="js/google_plus_api.js"></script>
  
  <script>
    function onSignInCallback(authResult) { helper.onSignInCallback(authResult); }

  </script>
</body>
</html>



